<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="box">
    <span class="borderLine"></span>
    <form action="" method="post">
    <h1> LOGIN PAGE</h1>
    <div class ="inputBox">
    <input type="text" name="email-phone">
    <span>Email / Mobile:</span>
    <i></i>
</div>
<div class="inputBox">
    <input type="password" name="password">
    <span> Password:</span>
    <i></i>
</div>
    <button> <input type="submit" value="Login"></button>
    </form>
</div>
</body>
</html>